<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.yaqi.seckill.entity.User" alias="User"/>
        <typeAlias type="com.yaqi.seckill.entity.Goods" alias="Goods"/>
        <typeAlias type="com.yaqi.seckill.entity.Order" alias="Order"/>
    </typeAliases>
</configuration>
